html, body, #root {
    height: 100%;
    width: 100%;
  }

    :root {
        --color-50: #a22a7b;
        --color-100: #c5c9df;
        --color-200: #7647a3;
        --color-300: #ba5681;
        --color-400: #d46477;
        background-image: linear-gradient(-45deg, var(--chakra-colors-pink-500), var(--chakra-colors-purple-500), var(--chakra-colors-pink-400));
    }

    #textColor {
        color: var(--chakra-colors-white)
    }
